[package]
name = "madsim"
version = "0.2.0-alpha.3"
edition = "2021"
authors = ["Runji Wang <wangrunji0408@163.com>"]
description = "Deterministic Simulator for distributed systems."
readme = "../README.md"
homepage = "https://github.com/madsys-dev/madsim"
repository = "https://github.com/madsys-dev/madsim"
license = "Apache-2.0"
keywords = ["distributed-systems", "async", "deterministic", "simulation"]
categories = ["asynchronous", "simulation"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["macros", "logger", "rpc", "tcp"]
ucx = ["async-ucx", "lazy_static"]
rpc = ["bincode"]
tcp = []
macros = ["madsim-macros", "tokio/macros"]
logger = ["env_logger"]

[dependencies]
bincode = { version = "1", optional = true }
bytes = "1"
env_logger = { version = "0.9", optional = true }
futures = "0.3"
log = "0.4"
madsim-macros = { version = "=0.2.0-alpha.3", path = "../madsim-macros", optional = true }
rand = { version = "0.8", features = ["small_rng"] }
serde = { version = "1", features = ["derive"] }

[target.'cfg(madsim)'.dependencies]
ahash = "0.7"
async-task = "4"
downcast-rs = "1.2"
naive-timer = "0.2"
tokio = { version = "1", features = ["rt"] }
toml = "0.5"

[target.'cfg(not(madsim))'.dependencies]
async-ucx = { version = "0.1", features = ["event"], optional = true }
lazy_static = { version = "1.4", optional = true }
tokio = { version = "1", features = ["rt", "fs", "net", "time", "io-util", "sync"] }
tokio-util = { version = "0.7", features = ["codec"] }

[dev-dependencies]
criterion = "0.3"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }

[[bench]]
name = "rpc"
harness = false

[package.metadata.docs.rs]
# all-features = true
rustc-args = ["--cfg", "madsim"]
rustdoc-args = ["--cfg", "madsim", "--cfg", "docsrs"]
